body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 500px;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background:  #f9f9f9;
    width: 500px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

svg {
    border: solid 1px #ccc;
}

.node rect {
    fill: #fff;
    stroke: #000;
    stroke-width: 2px;
}

.node text {
    font-size: 10px;
    text-transform: capitalize;
}

.link {
    fill: none;
}

.highlight {
    fill: none;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.arrange-vertically > * {
    display: block;
}

.row {
  width: 100%;
}

.block {
  padding: 10px;
  position: relative;
  display: inline-block; /* display inline with abality to provide width/height */
}

.bold {
    font-weight : bold;
}
